datastax-java-driver {
  basic {
    contact-points = ["cassandra.YOUR-REGION-HERE.amazonaws.com:9142"]
    load-balancing-policy.local-datacenter = YOUR-REGION-HERE
    request {
        timeout = 40 seconds
        consistency = LOCAL_QUORUM
    }
  }
  advanced {
    control-connection {
      timeout = 40 seconds
    }
    connection {
      connect-timeout = 40 seconds
      init-query-timeout = 40 seconds
    }
    metadata {
      token-map.enabled = false
      schema.enabled = true
    }
    auth-provider {
      class = PlainTextAuthProvider
      username = "{YOUR KEYSPACES USERNAME HERE}"
      password = "{YOUR KEYSPACES PASSWORD HERE}"
    }
    ssl-engine-factory {
      class = DefaultSslEngineFactory
      truststore-path = "/home/hadoop/.certs/cassandra_keystore.jks"
      truststore-password = "{trust-store-password}"
      hostname-validation = false
    }
  }
  output {
    batch.size.rows = 10
    concurrent.writes = 10
    batch.grouping.buffer.size = 10
    throughputMBPerSec = 0.001
  }
}