datastax-java-driver {
  basic {
    contact-points = ["cassandra.us-east-2.amazonaws.com:9142"]
    load-balancing-policy.local-datacenter = us-east-2
    request {
        timeout = 5 seconds
        consistency = LOCAL_QUORUM
    }
  }
  advanced {
    control-connection {
      timeout = 10 seconds
    }
    connection {
      connect-timeout = 10 seconds
      init-query-timeout = 5 seconds
    }
    metadata {
      token-map.enabled = false
      schema.enabled = true
    }
    auth-provider {
      class = PlainTextAuthProvider
      username = "keyspace_user+1-at-618357093123"
      password = "8n8mMaS8dkvg82/1UIzrEQXzAfol8Sv0jkDxJlu4dIs="
    }
    ssl-engine-factory {
      class = DefaultSslEngineFactory
      truststore-path = "/home/hadoop/.certs/cassandra_keystore.jks"
      truststore-password = "truststore"
      hostname-validation = false
    }
  }
}